/* Containers
foi modificado , removi as margens direitas e esquerdas pois nesse template os blocos são grudados
----------------------------------------------------------------------------------------------------*/
.container {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,.grid_12{
        display:inline;
        float: left;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 2px;
}


/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.grid_1{
        width:76px;
}

.grid_2{
        width:156px;
}

.grid_3{
        width:236px;
}

.grid_4{
        width:316px;
}

.grid_5{
        width:396px;
}

.grid_6{
        width:476px;
}

.grid_7{
        width:556px;
}

.grid_8{
        width:636px;
}

.grid_9{
        width:716px;
}

.grid_10{
        width:796px;
}

.grid_11{
        width:876px;
}

.grid_12{
        width:956px;
}
.clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}



