#header{
    height: 112px;
    background: #fff;

}

#header .container{
    width: 976px;
    margin: 0 auto;
    background: url("../img/header_b.png") repeat-x scroll left top #DD4814;
    border-radius: 0 0 4px 4px;
    height: 64px;
}

/* Abriga o menu principal*/
#header ul.menu{
    background: url("../img/topnav_divider.png") no-repeat scroll left top transparent ;
    margin: 0 0 0 16px;
    padding: 0;
}
#header ul.menu li{
    background: url("../img/topnav_divider.png") no-repeat scroll right top transparent ;
    border: medium none;
    height: 64px;
    margin: 0;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    padding: 0 1px;
    position: static;
    vertical-align: bottom;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    float: left;
}

#header ul.menu li a {
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 41px;
    margin: 0 0 0 -1px;
    padding: 23px 7px 0 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px #000000;
}

#header ul.menu li.active a, #header ul.menu li a:hover {
    background: url("../img/header_b_active.png") repeat-x scroll left top #B83A10 !important;
}


#header ul.menu li.parent.active ul {
    height: 40px;
    width: 732px !important;
    left: 10px;
    padding: 0 0 0 3px;
    display: block;
    visibility: visible;
    text-align: center;
    top: 64px;
    background: none repeat scroll 0 0 #EFEFEF;   
    border-radius: 0 0 4px 4px;
    border:none;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 999;
}
#header ul.menu li.parent.active ul li{
    background: none repeat scroll 0 0 transparent !important;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #FFFFFF;
    height: 40px;
}
#header ul.menu li.parent.active ul li:first-child {
    border-left: medium none;
}
#header ul.menu li.parent.active ul li a{
    background: none repeat scroll 0 0 transparent !important;
    border: medium none;
    color: #FFFFFF;
    text-decoration: none;
    clear: none;
    color: #333333 !important;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    padding: 13px 8px 0 10px !important;
    text-shadow: none;
    width: auto;
}

#header ul.menu li.parent.active ul li a:hover,#header ul.menu li.parent.active ul li.active a {
    background: url("../img/stripes.png") repeat scroll left 1px transparent !important;
    color: #DD4814 !important;
}



#header .search-box{    
    border-radius: 0 0 4px 4px;
    background: none repeat scroll 0 0 #EFEFEF;
    border: none;
    display: inline;
    float: none;
    height: 33px;
    margin: 0;
    margin: 0;
    padding-top: 7px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 64px;
    vertical-align: baseline;
    width: 215px;
    z-index: 999;
}

#header .search-box input.buttonsearch-box{    
    margin: 1px 0 0;
    background: url("../img/search_submit_bg_2.png") no-repeat scroll left top transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 25px;
    overflow: hidden;
    padding: 0;
    text-indent: 35px;
    width: 26px;
}
#header .search-box input.buttonsearch-box:hover{
    background: url("../img/search_submit_bg_2.png") no-repeat scroll 0 -23px transparent;
}
#header .search-box input.buttonsearch-box:active {
    background: url("../img/search_submit_bg_2.png") no-repeat scroll 0 -46px transparent;
}

#header .search-box input.inputboxsearch-box{    
    border: 1px solid #CCCCCC;
    font-size: 11px;
    height: 14px ;
    padding: 6px 0 4px 4px ;
    width: 165px;
    float: left;
    margin: 0 8px 0 ;
}
#header div.logo{
    float: right;
    padding-top: 4px;
}
#header div.logo p{
    margin: 0;
}
#header div.logo a{
    background: url("../img/logo.png") no-repeat transparent;
    height: 58px;
    width: 140px;
    text-indent: -300px;
    overflow: hidden;
    display: block;
}